@import url('https://fonts.cdnfonts.com/css/inter');

/* .main{
  display: flex;
  align-items: center;
} */

.headingImage{
    width: 30px;
    height: 30px;
    justify-content: left;
    display: flex;
    margin-top: 15px;
 }
 header{
  
}
 .dotimage{
   align-items: center;
   
 }
 .heading2{
     display: flex;
     gap: 20px;
     align-items: center;
     justify-content: center;
 }
 
 div{
     display: flex;
     gap: 150px;
     justify-content: center;
     max-width: 1000px;
     min-height: 80%; 
     margin: auto;
     padding: 4px;
     align-self: stretch;
     flex-direction: row;
     
 }
 .div2{
    justify-content: center;
    display: flex;
    gap: 10px;
    background: var(--neutral-silver, #F5F7FA);
  }
 .btn1{
     font-size: 13px;
     border: none;
     background-color: white;
     cursor: pointer;
     color:#4CAF4F;
     

     

 }
 .btn2{
     font-size: 13px;
     border: none;
     border-radius: 13%;
     background-color: #4CAF4F;
     cursor: pointer;
     padding: 4px 4px;
     color: white;
     
     
     
 }
 .insideDiv{
     flex-direction: column;
     margin-top: 50px;
     display: flex;
     justify-content: center;
     margin-bottom: 60px;
     gap: 0;
     padding: 100px;
     text-align: 30%;
     font-size: 3.6em;
 }
 .from8{
    color: #4CAF4F;
 }
 .sm-text{
    justify-content: left;
    display: flex;
    padding: 5px;
    font-size: 0.2em;
 }
 .register-btn{
    display: flex;
    border: none;
    color: white;
    background-color: #4CAF4F;
    border-radius: 11%;
    cursor: pointer;
 }
 .inImage{
    font-size: 0.1em;
    width: 300px;
    height: 300px;
    display: flex;
    margin-top: 100px;
    justify-content: center;

 }
 .div3{
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 40px;
 }
 .ourClient{
   font-size: 200%;
}
 .ourClient2{
   font-size: 80%;
 }
 .div4{
   display: flex;
   gap: 100px;
   font-size: 80%;
   margin-top: 60px;
 }
 .div5{
   flex-direction: column;
   align-items: center;
   gap: 1px;
   font-size: 200%;
   margin-top: 70px;
 }
 .nexq{
   font-size: 40%;
 }
 .div6{
   display: flex;
 width: 299px;
 padding: 24px 32px;
 flex-direction: column;
 align-items: center;
 gap: 8px;
 font-size: 13px;
 margin-top: 40px;
/* flex-shrink: 0;
border-radius: 8px;
background: var(--neutral-white, #FFF);
box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20); */
   
 }
 /* .div6image1, .div6image2{
   position: absolute;
   top: 0;
   left: 0;
 }
 .image1{
   z-index: 1;
 }
 .image2{
   z-index: 0;
 }
 .div6images{
   position: relative;
 } */
 .div6child1{
  font-size: 31px;
 }
 .div6child2{
  font-size: 31px;
 }
 .div7{
  display: flex;
 width: 299px;
 padding: 24px 32px;
 flex-direction: column;
 align-items: center;
 gap: 8px;
 font-size: 13px;
 }
 .div7child1{
  font-size: 31px;
 }
 .div7child2{
  font-size: 31px;
 }
 .div8{
  display: flex;
 width: 299px;
 padding: 24px 32px;
 flex-direction: column;
 align-items: center;
 gap: 8px;
 font-size: 13px;
 }
 .div8child1{
  font-size: 31px;
 }
 .div8child2{
  font-size: 31px;
 }
 .div9{
  flex-direction: column;
  gap: 8px;
  margin-top: 50px;
 }
 .div9child1{
  font-size: 35px;
 }
 .div9child2{
  font-size: 35px;
 }
 .div9btn{
  display: flex;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--brand-primary, #4CAF4F);
  border: none;
  cursor: pointer;
  color: white;
  
 }
 .div10{
  justify-content: left;
  margin-top: 20px;
 }
 .div11{
  display: flex;
  width: 1440px;
  padding: 64px 225px;
  justify-content: space-between;
  align-items: center;
  background: var(--neutral-silver, #F5F7FA);
 }
 .div11plus{
  display: flex;
width: 540px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex-shrink: 0;
 }
 
 .div11child1{
  width: 408px;
  color: var(--neutral-d-grey, #4D4D4D);
  flex-direction: column;
/* Heading/Headline 2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  gap: 8px;
 }
 .div11child2{
  color: var(--brand-primary, #4CAF4F);

/* Heading/Headline 2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  
 }
 .div11child3{
  align-self: stretch;
  color: var(--text-gray-900, #18191F);

/* Body/Regular/Body 2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
 }
 .div12{
  
  display: flex;
flex-direction: column;
align-items: center;
gap: 40px;
 }
 .div12inner{
  display: flex;
align-items: center;
gap: 30px;
 }
 .div12child1{
  display: flex;
align-items: center;
gap: 16px;
 }
 .div12image{
  width: 48px;
height: 48px;
 }
 .div12child2{
  gap: 8px;
  flex-direction: column;
 }
 .div12child3{
  width: 191px;
  color: var(--neutral-d-grey, #4D4D4D);

/* Heading/Headline 3 */
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 128.571% */
 }
 .div12child4{
  width: 191px;
  color: var(--neutral-grey, #717171);

/* Body/Regular/Body 2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
 }
 .div13{
  display: flex;
align-items: center;
gap: 16px;
 }
 .div13child1{
  gap: 8px;
  flex-direction: column;
 }
 .div13image{
  width: 48px;
height: 48px;
 }
 .div13child2{
  width: 191px;
  color: var(--neutral-d-grey, #4D4D4D);

/* Heading/Headline 3 */
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 128.571% */
 }
 .div13child3{
  width: 191px;
  color: var(--neutral-grey, #717171);

/* Body/Regular/Body 2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
 }
 .div14outer{
  display: flex;
align-items: center;
gap: 30px;
 }
 .div14{
  display: flex;
align-items: center;
gap: 16px;
 }
 .div14image{
  width: 48px;
height: 48px;
 }
 .div14child1{
  display: flex;
align-items: center;
gap: 16px;
 }
 .div14child2{
  gap: 8px;
  flex-direction: column;
 }
 .div14child3{
  width: 191px;
  color: var(--neutral-d-grey, #4D4D4D);

/* Heading/Headline 3 */
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 128.571% */
 }
 .div14child4{
  width: 191px;
  color: var(--neutral-grey, #717171);

/* Body/Regular/Body 2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
 }
 .div15{
  display: flex;
align-items: center;
gap: 16px;
 }
 .div15image{
  width: 48px;
height: 48px;
 }
 .div15child1{
  display: flex;
align-items: center;
gap: 16px;
 }
 .div15child2{
  gap: 8px;
  flex-direction: column;
 }
 .div15child3{
  width: 191px;
  color: var(--neutral-d-grey, #4D4D4D);

/* Heading/Headline 3 */
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 128.571% */
 }
 .div15child4{
  width: 191px;
  color: var(--neutral-grey, #717171);

/* Body/Regular/Body 2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
 }
 .div16{
  display: flex;
  width: 1440px;
  padding: 0px 144px;
  justify-content: space-between;
  align-items: center;
  margin-top: 6%;
 }
 .div16inner{
  width: 441.533px;
height: 433.399px;
flex-shrink: 0;
 }
 .div17{
  display: flex;
width: 220.686px;
flex-direction: column;
align-items: flex-start;
gap: 10.684px;
flex-shrink: 0;

 }
 .div17inner{
  display: flex;
width: 200.654px;
flex-direction: column;
align-items: flex-start;
gap: 5.342px;

 }
 .div17child1{
  align-self: stretch;
  color: var(--neutral-d-grey, #4D4D4D);
font-family: Inter;
font-size: 12.019px;
font-style: normal;
font-weight: 600;
line-height: 1.2;
font-size: 30px;

 }
 .div17child2{
  align-self: stretch;
  color: var(--neutral-grey, #717171);
  font-family: Inter;
  font-size: 4.674px;
  font-style: normal;
  font-weight: 400;
  line-height: 6.677px; 
 }
 .div17btn{
  display: flex;
  padding: 4.674px 10.684px;
  justify-content: center;
  align-items: center;
  gap: 3.339px;
  border-radius: 1.335px;
  background: var(--brand-primary, #4CAF4F);
  border: none;
  cursor: pointer;
  color: white;
 }

 .div18{
  background: var(--neutral-silver, #F5F7FA);
  display: flex;
width: 1440px;
padding: 32px 144px;
align-items: center;
gap: 78px;
margin-top: 5%;
 }

 .div18image{
  width: 326px;
height: 326px;
flex-shrink: 0;
border-radius: 8px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

/* Shadow/8px */
box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
 }

 .div18child1{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex: 1 0 0;
 }
 .div18child2{
  align-self: stretch;
  color: var(--neutral-grey, #717171);

/* Body/Medium/Body 2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
 }
 .div18child3{
  align-self: stretch;
  color: var(--brand-primary, #4CAF4F);

/* Heading/Headline 4 */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 140% */
 }
 .div18child4{
  align-self: stretch;
  color: var(--neutral-l-grey, #89939E);

/* Body/Regular/Body 2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
 }
 .div18image2{
  width: 40px;
height: 40px;
 }
 .div18child5{
  display: flex;
align-items: center;
gap: 41px;
 }
 .div18image3{
  width: 40px;
height: 28px;
 }
 .div18image4{
  width: 55px;
height: 30px;
 }
 .div18image5{
  width: 47px;
height: 29px;
flex-shrink: 0;
 }
 .div18image6{
  width: 41px;
height: 27px;
 }
 .div18image7{
  width: 52px;
height: 20px;
 }
 .div18child6{
  width: 188px;
  color: var(--brand-primary, #4CAF4F);

/* Heading/Headline 4 */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 140% */
 }
 .div18image8{
  display: flex;
width: 24px;
height: 24px;
padding: 8px 5px 8px 4.414px;
justify-content: center;
align-items: center;
 }
 .div19{
  display: flex;
width: 1110px;
flex-direction: column;
align-items: center;
gap: 8px;
margin-top: 3%;
 }
 .div19child1{
  align-self: stretch;
  color: var(--neutral-d-grey, #4D4D4D);
text-align: center;

/* Heading/Headline 2 */
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 44px; /* 122.222% */
 }
 .div19child2{
  width: 628px;
  color: var(--neutral-grey, #717171);
text-align: center;

/* Body/Regular/Body 2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
 }

 .div20{
  display: flex;
width: 1440px;
padding: 0px 144px;
justify-content: center;
align-items: center;
margin-top: 3%;

 }
 .div20child1{
  display: flex;
flex-direction: column;
align-items: center;
gap: -96px;
 }
 .div20child2{
  display: flex;
flex-direction: column;
align-items: center;
gap: -96px;
 }
 .div20child3{
  display: flex;
flex-direction: column;
align-items: center;
gap: -96px;
 }
 .div21{
  display: flex;
width: 1440px;
padding: 32px 162px;
flex-direction: column;
align-items: center;
gap: 32px;
/* background: var(--neutral-silver, #F5F7FA); */
margin-top: 5%;
 }
 .div21child1{
  width: 887px;
  color: var(--neutral-black, #263238);
text-align: center;

/* Heading/Headline 1 */
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 76px; /* 118.75% */
 }
 .div21btn{
  display: flex;
padding: 14px 32px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 4px;
background: var(--brand-primary, #4CAF4F);
color: white;
border: none;
 }
 .div21btnimage{
  color: white;
  
 }
 .footer1{
  justify-content: center;
  display: flex;
  margin-top: 0%;
 }
 .footerimage{
  
 }